.container{
    align-self: center;
    display: flex;
}

@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .container{
        width: 750px;
    }
}

@media (max-width: 767px){
    .container{
        width: 100%;
    }
}