.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: $headerHeight;
    font-size: 15px;
    background-color: $primaryColor;
    opacity: 0.9;
    z-index: 1000;

    .container{
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 $freeSpace 0 $freeSpace;

        .logo {
            background-image: url('../img/logo.png');
            background-repeat: no-repeat;    
            background-size: contain;
            background-position: center;
            width: 50px;
            height: 50px;
            margin-top: 3px;
        }
        
        .menu{
            display: flex;
            list-style: none;
            height: 100%;
            align-items: center;

            li{
                a{
                    color: $whiteColor;
                }
            }
        }

    }

}