html{
    font-size: 0.875em;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica,  Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.45;
}

p{
    margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4{
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;    
}

h1{
    margin-top: 0;
    font-size: 2.441em;
}

h2{
    font-size: 1.953em;
}

h3{
    font-size: 1.563em;
}

h4{
    font-size: 1.25em;
}

small, .font_small{
    font-size: 0.8em;
}